<h4 class="home"><%= link_to "home", products_path %></h4>
<hr>
<h3>All Coffees</h3>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %><br></li>
  <% end %>
</ul>
