<h1>Speciality Coffee Company</h1>
<p>Speciality Covfefe Company exists to satisfy all your covfefe and caffeinnation needs.</p>

<ul>
  <% @products.each do |product| %>
    <li><%= product.name %><br></li>
  <% end %>
</ul>
